<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModelEntities" connectionString="metadata=res://*/ModelData.ModelDataEntities.csdl|res://*/ModelData.ModelDataEntities.ssdl|res://*/ModelData.ModelDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.152.34.156;initial catalog=INDOPAYROLL_SIT;persist security info=True;user id=userdev;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelEntitiesWebsite" connectionString="metadata=res://*/ModelData.ModelDataEntities.csdl|res://*/ModelData.ModelDataEntities.ssdl|res://*/ModelData.ModelDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.152.34.156;initial catalog=INDOPAYROLL_SIT;persist security info=True;user id=indopayroll;password=K1sit2bCv6+ygnt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ModelEntities" connectionString="metadata=res://*/ModelData.ModelDataEntities.csdl|res://*/ModelData.ModelDataEntities.ssdl|res://*/ModelData.ModelDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=INDOPAYROLL_DEV;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=SmartAdminMvc;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ModelEntities" connectionString="metadata=res://*/ModelData.ModelDataEntities.csdl|res://*/ModelData.ModelDataEntities.ssdl|res://*/ModelData.ModelDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.20;initial catalog=INDOPAYROLL_DEV;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="ModelEntities" connectionString="metadata=res://*/ModelData.ModelDataEntities.csdl|res://*/ModelData.ModelDataEntities.ssdl|res://*/ModelData.ModelDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=INDOPAYROLL_DEV;persist security info=True;user id=sys;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>